.texto1 {
    color: #0000008e;
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.texto2 {
    color: #df0c0c8e;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.streaming-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.plataforma {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.imagenes {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.redes {
  text-decoration: none;
}

.saltoextremo {
      color: #df0c0c8e;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}