* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #368bbd;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 40px;
}
.logo {
    color: #eeeeee;
    font-size: 2.5em;
    top: 100px;
}

.nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2em;
    padding: 8px 16px;
    border-radius: 4px;
}

.contact {
    background-color: #000000;
    border-radius: 50px;
}

.creatives{

    position: absolute;
    top: 125px;
    right:700px;
    font-size:50px;
    transform:center;
    color: #eeeeee;
}

.limon {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    height: 700px;
    
}
 

.huevo {
    position: absolute;
    right: 0;
    width:50%;
}



.transform {
    position: absolute;
    top: 95%;
    left: 7%;
    transform: translateY(-50%);
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

.boton1 {
    position: absolute;
    top: 130%;
    left: 20%;
    padding: 0;
    font-size: 18px;
    border: none;
    background: transparent;
    border-radius: 0;
    cursor: pointer;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid rgb(238, 255, 0);
}



.plimon {
    position: absolute;
    top: 111%;
    left: 3%;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    }


.yogurt {
    position: absolute;
    right: 10;
    width:50%;
    top: 1390px;
}


.yogurttexto {
    position: absolute;
    top: 1600px;
    left: 60%;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
}



.pyogurt {
    position: absolute;
    top: 1800px;
    left: 60%;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.boton2 {
    position: absolute;
    top: 2000px;
    left: 70%;
    padding: 0;
    font-size: 18px;
    border: none;
    background: transparent;
    border-radius: 0;
    cursor: pointer;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid rgb(155, 82, 82);
}